@charset "utf-8";

/* Variables */
$enable-flex: true;

@import "bootstrap.min.css"; /* Darkly */
@import "codeHighlight.css";
@import "font-awesome";
@import "font-awesome-sprockets";

body {
font-size: 1vw;
}

.navbar{
margin-bottom: 30px;
}

#main {
display: flex;
flex-direction: column;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
margin-left: 5%;
margin-right: 5%;
}

#content{

}

#sorting {
margin-top: 35px;
width: 100%;
list-style-position: inside;
}

#recent {
float: right;
text-align: right;
}

#year {
float: left;
}

#articleInfo {
display: flex;
flex-direction: column;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
margin-bottom: 30px;
}
